.account-wrapper{
    display: flex;
    flex-direction: column;
    padding: 144px 48px 96px 120px;
    background: #FEFEFE;
}

.account-intro{
    display: flex;
    flex-direction: column;
    padding-left: 96px;
}

.account-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #161716;
    margin-bottom: 16px;
}

.account-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #161716;
    margin-bottom: 96px;
}

.account-details-wrapper{
    display: flex;
    align-self: center;
    align-items: center;
    grid-gap: 48px;
    margin-bottom: 48px;
}

.account-pic{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index:3;
}

.account-pic:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.account-pic-choices{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.account-pic-choices:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.choices-wrapper{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 4;
}

.account-name-wrapper{
    display: flex;
    flex-direction: column;
}

.account-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #161716;
}

.account-email{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #161716;
}

.account-logout-button{
    width:50%;
    font-size: 18px;
    margin-top: 45px;
    background-color: #EAC646;
    border-radius: 8px;
    padding: 15px;
    color: #FFFFFF;
    transition: 300ms;
    text-align: center;
}

.account-logout-button:hover{
background-color: rgba(0,0,0,.2);
transition: 300ms;
}

.account-stats-wrapper{
    display: flex;
    flex-direction: column;
    flex-basis:70%;
    align-self: center;
    grid-gap:24px;
}

.account-stats-points{
    display: flex;
    justify-content: space-between;
    background: #EBC74E;
    box-shadow: 0px 16px 16px rgba(22, 23, 22, 0.08);
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #F9F9F9;
    padding: 16px;
    }

.account-stats-earnings{
    display: flex;
    justify-content: space-between;
    background: #EBC74E;
    box-shadow: 0px 16px 16px rgba(22, 23, 22, 0.08);
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #F9F9F9;
    padding: 16px;
    }

.account-stats-metrics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px
}

.account-stats-metric{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background: #F9F9F9;
    border-radius: 8px; 
    filter: drop-shadow(0px 16px 16px rgba(22, 23, 22, 0.08));
    padding: 32px;
}

.account-metric-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    color: #161716;
}

.account-metric-number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #161716;
}

.account-metric-view{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #EBC74E;
}