
.exams-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
}

.exams-heading{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
/* identical to box height */
color: #000000;
}

.exams-choice-wrapper{
    display:flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    border: #F2C94C 1px solid;
    top: 168px;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 50%;
    overflow: scroll;
    transition: 100ms;
}

.exams-input-wrapper{
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
    width: auto;
}

.exams-input{
    border: #F2C94C 1px solid;
    border-radius: 8px 0px 0px 8px;
    padding-left: 16px;
    width: 100%
}

.exams-choice{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
margin-top: 8px;
margin-bottom: 8px;
color: #161716;
}

.exams-input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.exams-input:focus{
    outline: none !important;
    border: #F2C94C 1px solid;
}

.exams-button{
    justify-self: center;
    background-color: #F2C94C;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.exams-button:hover{
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.exams-display{
    background: #F9F9F9;
    box-shadow: 0px 16px 16px rgba(22, 23, 22, 0.08), 0px 24px 32px rgba(22, 23, 22, 0.08);
    border-radius: 16px;
    padding: 24px;
}

.exams-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0A452D;
    margin-top: 8px;
    margin-bottom: 16px;
}