
.footer-wrapper{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    background-color: #161716;
    padding: 48px 96px 24px 96px;
    user-select: none;
}

.footer-content-wrapper{
    display: grid;
    grid-template-rows: 3fr 1fr;
    color: #FAF9F9;
}

.footer-content-links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer-content-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-policies{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FAF9F9;
}