.forum-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding: 144px 48px 96px 120px;
    background-color: #FEFEFE;
}

.sidebar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 16px;
    width: 100%;
    margin-top: 138px;
    margin-left: -32px;
    user-select: none;
}

.sidebar-element{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.sidebar-element-disabled{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #939393;
}

.sidebar-selected-wrapper{
    display: flex;
    justify-items: flex-start;
}

.sidebar-selector-margin{
    margin-left: -56px;
}

.sidebar-selector-margin-exam{
    margin-left: -56px;
}

.sidebar-selected{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: left;
color: #000000;
margin-left: 48px;
}

.sidebar-selected-exam{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin-left: 48px;
    }
    


.forum-content-subject{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #000000;
margin-bottom: 24px;
user-select: none;
}

.forum-content-department-wrapper{
    display: flex;
}


.forum-content-department-name{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#FAF9F9;
    padding: 3px;
    border-radius: 8px;
    background-color: #865222;
    margin-bottom: 32px;
    user-select: none;
}

.forum-content-department-name:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.forum-content-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 32px;
    user-select: none;
}

.forum-buttons-wrapper{
    display: flex;
    grid-gap: 32px;
    margin-bottom: 32px;
    user-select: none;
}

.forum-buttons-nested-wrapper{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.forum-buttons-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.forum-buttons-nested-wrapper svg:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}



.forum-question-input-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    margin-bottom: 24px;
}

.forum-question-input{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 24px;
    
}

.forum-question-input-question{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #000000;
margin-bottom: 16px;

outline: none;
background-color: #F7F7F7;
border:none;

}

.forum-question-input-question:focus{
    outline: none!important;
}

.forum-question-input-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    height: 100px;
    margin-bottom: 24px;
    overflow: auto;

    outline: none;
    background-color: #F7F7F7;
    border:none;
    resize: none;
}

.forum-question-input-description:focus{
    outline: none!important;
}

.forum-question-input-buttons{
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: 1fr;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
}

.forum-question-hide-input-file{
    position: absolute;
    z-index: -5;
}

.forum-question-input-preview{
    width: 600px;
    position: absolute;
    z-index: 3;
    object-fit: cover;
}

#triangle-up {
width: 0;
height: 0;
margin-left: 96px;
border-left: 24px solid transparent;
border-right: 24px solid transparent;
border-bottom: 32px solid #F7F7F7;
}

#search-triangle-up {
    width: 0;
    height: 0;
    margin-left: 320px;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 32px solid #F7F7F7;
    }

.forum-question-input-image{
    display: flex;
    align-content: center;
    background: #E0E0E0;
    border-radius: 0px 0px 0px 8px;
    padding: 16px;
    grid-gap: 16px;
    object-fit: cover;
    align-items:center;
    flex-wrap: nowrap;
    min-width: 0;
}

.forum-question-input-image svg:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.forum-question-search-wrapper{
    margin-top: -32px;
    margin-bottom: 24px;
    display: flex;
}

.forum-question-input-search{
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    outline: none;
    background-color: #F7F7F7;
    border:none;
    background-color: #F7F7F7;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    padding: 16px;
    flex-basis:80%
    }

.forum-question-search{
    display: flex;
    justify-content: space-between;
    }

.forum-question-search-button{
    display: flex;
    background: #EAC646;
    border-radius: 0px 8px 8px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    flex-basis:20%;
    color: #FFFFFF;
    padding: 16px;
    justify-content: center;
}

.forum-question-search-button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.forum-question-input-post{
    display: flex;
    background: #EAC646;
    border-radius: 0px 0px 8px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-content: center;
    align-self:center;
    color: #FFFFFF;
    padding: 16px;
}

.forum-question-input-post:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}


.forum-question-input-post-disabled{
    display: flex;
    background: rgba(0,0,0,.2);
    border-radius: 0px 0px 8px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-content: center;
    align-self:center;
    color: #FFFFFF;
    padding: 16px;
}
  
  

/**Custom Select*/

.sort-by-wrapper{
    display: flex;
    justify-content: flex-end;
    grid-gap: 16px;
    align-items: center;
    width:100%;
    margin-bottom: 24px;
    user-select: none;
}

.sort-by-wrapper svg:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.sort-by-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.sort-by-display{
display: flex;
align-items: center;
grid-gap: 8px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 15px;
color: #000000;
}

.sort-by-choices-wrapper{
    display: flex;
    flex-direction: column;
/*     grid-template-rows: repeat(3,1fr); */
    position: absolute;
    background-color: #F9F9F9;
    box-shadow: 0px 8px 16px rgba(22, 23, 22, 0.08), 0px 16px 32px rgba(22, 23, 22, 0.08);
    border-radius: 8px;
    z-index:5;
    grid-gap: 8px;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.sort-by-element{
    font-family: Montserrat;
    color: #000000;
    width: auto;
    height:auto;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
}

.sort-by-element:hover{
background-color: rgba(0,0,0,.2);
transition: 200ms;
}

.sort-by-element-selected{
    font-family: Montserrat;
    color: #000000;
    font-weight: bold;

}

/* .sort-by-element:hover{
    color: #FFFFFF;
    background-color: #EAC646;
    transition: 100ms;
    background-clip: content-box;
    grid:1/2;
} */

/**Notable Questions*/

.notable-questions-wrapper{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    width: 75%;
    margin-left: 48px;
    user-select: none;
}

.notable-questions-content{
    padding: 24px 24px 16px 24px;
    width: 100%;
    height: auto;
    background: #F9F9F9;
    /* box-shadow: 0px 16px 16px rgba(22, 23, 22, 0.08), 0px 24px 32px rgba(22, 23, 22, 0.08); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    border-radius: 16px;
    margin-bottom: 24px;
}

.notable-questions-content-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.notable-questions-content-subheader{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;    
    color: #000000;
    margin-bottom: 8px;
    margin-left: 16px;
}

.notable-questions-content-body{
    overflow-wrap: break-word;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 20px;
    margin-left: 16px;
}

.notable-questions-border{
    border-left: 4px solid #EBC74E;
}


.forum-answers-wrapper{
    width: 100%;
    height: auto;
    background-color:  #F9F9F9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    border-radius: 16px;
    padding: 48px 48px 24px 48px;
}

/* .forum-answers-wrapper:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
} */