
/* Ellipse 26 */
.ellipse-filled{
position: absolute;
width: 14px;
height: 14px;
left: 653px;
top: 609px;

/* Black */
background: #161716;
}

/* Ellipse 27 */
.ellipse-notfilled{
position: absolute;
width: 14px;
height: 14px;
left: 683px;
top: 609px;

/* Black */
border: 1px solid #161716;
box-sizing: border-box;
}
