/**Imports*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/**Header*/
@media screen and (max-width: 430px){
.header {
    position: fixed;
    display:flex;
    width: 100%;
    background-color: #FEFEFE;
    padding: 2em;
    z-index: 100;
    user-select: none;
    overflow: hidden;
}

.nested{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    justify-items: center;
    align-items: flex-start;
}

.header-element{
    font-size: 8px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #4A4A4A;
}

.header-element a{
    text-decoration-line: none; 
    text-decoration-style: none; 
    color: initial; 
}

.header-element a:hover{
    text-decoration-line: none; 
    text-decoration-style: none; 
    color: initial; 
}

.header-login{
    box-sizing: content-box;
    border: 1px solid;
    border-radius: 8px;
    border-color: black;
    padding: 10px 20px 10px 20px;
    align-self: flex-start;
    margin: -11px;
    transition: 200ms;
}

.header-login:hover{
    background-color: rgba(0,0,0,.2);
    transition: 200ms;
}



/**Content*/

.wrapper{
    display:flex;
    flex-direction: column;
    user-select: none;
}

.nested-wrapper-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 192px 192px 192px 192px;
    justify-items: center;
    background-color: #FEFEFE;
}

.nested-content-1{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    max-height: 100vh;
    flex-wrap: wrap;
}

.nested-wrapper-2{
    display: flex;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
    align-items: center;
    background: #EAC646;

}

.nested-subwrapper-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.nested-content-2{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    max-height: 100vh;
    flex-wrap: wrap;
}

.nested-wrapper-3{
    display: flex;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
    align-items: space-between;
    background-color: #fefefe;
}

.nested-wrapper-3sub{
    display:flex;
    direction:row;
    justify-items: center;
}

.nested-subwrapper-3{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.nested-content-3{
    display:flex;
    flex-direction:column;
    align-items: center;
    max-height: 100vh;
}

.nested-wrapper-4{
    display: flex;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
    align-items: center;
    background-color: #F7F7F7;
}

.nested-content-4{
    display:flex;
    flex-direction:column;
    align-items: center;
    max-height: 100vh;
}

.nested-wrapper-5{
    display: flex;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
    align-items: center;
    background-color: #FEFEFE;
}

.nested-content-5{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}

/**Landing 1*/
.studybuddy-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #EAC646;
}
.studybuddy-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.studybuddy-button{
    font-size: 18px;
    margin-top: 45px;
    background-color: #EAC646;
    border-radius: 8px;
    padding: 15px;
    color: #FFFFFF;
    transition: 300ms;
    width: 50%;
    text-align: center;
}

.studybuddy-button:hover{
background-color: rgba(0,0,0,.2);
transition: 300ms;
}

/**Landing 2*/
.about-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px; 
    align-self: center;
    color: #FAF9F9;

}
.about-description{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: right;
    color: #FAF9F9;
}


/**Landing 3*/
.features-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px; 
    align-self: center;
    color: #EAC646;
}
.features-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #161716;
}
.features-description{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #161716;
    width: 75%;
}

.features-left-arrow{
    align-self: center;
}

.features-right-arrow{
    align-self: center;
}

.features-carousel-dots{
    align-self: center;
}


/**Landing 4*/
.questions-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px; 
    align-self: center;
    color: #EAC646;

}

.questions-description{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 48px; 
    text-align: center;
    color: #161716;
}

.questions-button{
    text-align: center;
    align-self: center;
}

.accordion-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #161716;

}/* color: "#FAF9F9" */

.accordion-heading-closed{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: "#FAF9F9";

}

.accordion-body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #161716;

}

.questions-button{
    font-size: 18px;
    margin-top: 45px;
    background-color: #EAC646;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    color: #FFFFFF;
}

/**Landing 5*/
.team-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px; 
    align-self: center;
    color: #EAC646;
}

.team-description{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 48px; 
    text-align: center;
    color: #161716;
}

.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #161716;
}

.team-member-pic{
border-radius: 50%;
object-fit: cover;
}


.team-member-name{
    font-family: 'Montserrat', sans-serif;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #161716;
}

.team-member-role{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #161716;
}

}

/**Landing 1*/