.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    user-select: none;
}

.dashboard-content-1{
    display: flex;
    flex-direction: column;
    padding: 144px 192px 96px 192px;
}

.dashboard-content-intro{
    display:flex;
    flex-direction: column;
}

/* .dashboard-heading-wrapper{

} */

.dashboard-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 6px;
    display: flex;
}

.dashboard-heading-subjects{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
    align-items: center;
}

.dashboard-heading-subjects svg:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.dashboard-count{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-self: center;
    text-align: center;
    color: #FAF9F9;
    background: #077955;
    border-radius: 10px;
    padding:6px;
    margin-left: 12px;
}

.dashboard-description{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
margin-bottom: 48px;
}

.dashboard-subject-wrapper{
    display: flex;
    flex-basis: 25%;
    grid-gap: 40px;
    align-self: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.dashboard-content-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F7F7F7;
    padding: 48px 192px 96px 192px;
}

.dashboard-content-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 192px 96px 192px;
}

.dashboard-content-intro{
    display:flex;
    flex-direction: column;
}

.dashboard-content-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-content-savedquestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 48px;
}

.savedquestions-wrapper{
    width: 100%;
    height: auto;
    background-color:  #F9F9F9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    border-radius: 16px;
    padding: 48px 48px 24px 48px;
    position: relative;
}

.savedquestions-wrapper:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}


.savedquestions-subject{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #EBC74E;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

}

.savedquestions-subject-menu{
    position: relative;
    bottom: 24px;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

/* .savedquestions-subject-menu svg:hover{
    color: #EBC74E;
} */

.savedquestions-subject-menu-wrapper{
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: column;
    top: 24px;
    right: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    transition: 200ms;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    
}

.savedquestions-subject-menu-item{
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px 64px 8px 8px;
    border-radius: 8px;
}

.savedquestions-subject-menu-item:hover{
    background-color: rgba(0,0,0,.2);
    transition: 200ms;
}

.savedquestions-question{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 24px;
    position: relative;
}

.savedquestions-description{
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    margin-bottom: 48px;
    white-space: pre-line;
}


.savedquestions-image-wrapper{
    align-self: center;
    margin-top: 16px;
    max-width: 600px;
    max-height: 600px;
    object-fit: scale-down;
}

.savedquestions-menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.savedquestions-menu-like{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.savedquestions-menu-like-number{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;
}

.savedquestions-menu-timestamp{
    margin-left: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: rgba(79, 79, 79, 0.5);
    align-self: center;
}

.savedquestions-menu-comments{
    display: flex;
    justify-content: flex-end;
}

.savedquestions-menu-comments-number{
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.dashboard-content-savedquestions-viewall-wrapper{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    width: 100%;
    justify-content: center;
}

.dashboard-content-savedquestions-viewall{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
}

.dashboard-content-savedquestions-viewall a:hover{
    text-decoration-line: none;
    text-decoration-color: none;
    }

.savedanswers-wrapper{
display: flex;
flex-direction: column;
}

.savedanswers-subwrapper{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    grid-gap: 8px;
}

.savedanswers-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.savedanswers-content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 48px;
    /* or 20px */
    
    
    color: #000000;
}

/**My Questions and My Answers*/

.ownpage-savedquestions-wrapper, .ownpage-savedanswers-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F7F7F7;
    padding: 144px 192px 96px 192px;
    user-select: none;
}

/**Custom Select*/

.sort-by-wrapper{
    display: flex;
    align-self: flex-end;
    grid-gap: 16px;
    align-items: center;
}

.sort-by-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.sort-by-display{
display: flex;
align-items: center;
grid-gap: 8px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 15px;
color: #000000;
}

.sort-by-choices-wrapper{
    display: flex;
    flex-direction: column;
}


.my-answers-prof-pic{
    border-radius: 50%;
    object-fit: cover;
}

.svg-hover:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}
