
.question-content-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.question-heading-wrapper{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.question-heading{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #000000;
margin-bottom: 24px;
}

.question-description{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 125%;
color: #000000;
margin-top: 24px;
margin-bottom: 32px;
}

.question-menu{
    margin-left: 8px;
    z-index: 2;
/*     display:inline-flex;
    justify-content: flex-start;
    justify-items: center; */
}

.question-adjust-menu{
    position: absolute;
    bottom: auto;
    left: auto;
    right: auto;
    top:auto;
    width: auto;
    height: auto;
}

.question-adjust-menu-answers{
    position: absolute;
    bottom: auto;
    left: auto;
    right: auto;
    top:12px;
    width: auto;
    height: auto;
}

#questions-triangle-up {
    width: 0;
    height: 0;
    align-self: flex-end;
    margin-right: 48px;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 32px solid #F7F7F7;
    }


.answer-comment-wrapper{
    position: absolute;
    display:flex;
    flex-direction: column;
    margin-top: -32px;
    margin-bottom: 24px;
    /* background-color: #F7F7F7; */
    border-radius: 8px;
    padding: 24px;
    right: -120px;
    bottom: -120px;
    z-index: 5;
}

.answer-comments{
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
}

.answer-input{
    display: flex;
}

.answer-question-input-post{
    display: flex;
    background: #EAC646;
    border-radius: 0px 0px 8px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height:19px;
    justify-content: center;
    align-content: center;
    align-self:center;
    color: #FFFFFF;
    padding: 16px;
}

.answer-question-input-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    overflow: auto;
    outline: none;
    background-color: #F7F7F7;
    border:none;
    resize: none;
    padding-left: 8px;
    padding-right: 8px;

    width: 300px;
}


.answer-edit{
    width:100%;
}

.wrap-pic-name{
    max-width:50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}