.selection-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 144px;
    background-color:  #FEFEFE;
    user-select: none;
}

.selection-intro{
    justify-self: flex-start;
}

.selection-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.selection-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.selection-input-wrapper{
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
}

.selection-input{
    border: #F2C94C 1px solid;
    width: 400px;
    border-radius: 8px 0px 0px 8px;
    padding-left: 16px;
}

.selection-input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.selection-input:focus{
    outline: none !important;
    border: #F2C94C 1px solid;
}

.selection-button{
    justify-self: center;
    background-color: #F2C94C;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.selection-button-disabled{
    justify-self: center;
    background-color: rgba(0,0,0,.2);
    color: #FFFFFF;
    border-radius: 0 8px 8px 0px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.selection-request{
    margin-bottom: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 8px;
}

.selection-request a{
    color: #F2C94C;
    text-decoration: underline;
}

.selection-request a:hover{
    color: #F2C94C;
    text-decoration: underline;
}


.selection-warning{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

/* .selection-subject-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
} */

.selection-subject-wrapper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    grid-gap: 40px;
    justify-content: center;
}

.selection-subject-card {
    max-width: 350px;
    height: 252px;
    border-radius: 16px;
    box-shadow: 0px 24px 32px 0px rgba(22,23,22,0.08);
    box-shadow: 0px 16px 16px 0px rgba(22,23,22,0.08);
    display: grid;
    grid-template-rows: 2fr 1fr;
    user-select: none;
}

.color1 {
    background-color: #91BD6F;
}

.color2 {
    background-color: #A8832D;
}

.color3 {
    background-color:#865222;;
}

.color4 {
    background-color: #EAC646;
}

.bcolor1 {
    border-left: 4px solid #91BD6F;
}

.bcolor2 {
    border-left: 4px solid #A8832D;
}

.bcolor3 {
    border-left: 4px solid#865222;;
}

.bcolor4 {
    border-left: 4px solid #EAC646;
}

.selection-subject-card-top-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.selection-subject-card-top {
    align-self: flex-end;
    padding: 0px 0px 5px 15px;
    margin-bottom: -18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FAF9F9;
}

.selection-subject-card-top-menu {
    display:flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    padding: 16px 5px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FAF9F9;
}

.selection-subject-card-top-menu:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.selection-subject-card-bottom-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 15px;
    /* padding-top: 5px; */
    margin: 24px 0px 0px 0px; /*new*/
    flex: 0;
    justify-content: center;
    border-radius: 0px 0px 16px 16px;
}

.selection-subject-card-bottom-subject{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #161716;
    padding-bottom: 5px;
}

.selection-subject-card-bottom-department{
    display: flex;
}


.selection-subject-card-bottom-department-name{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#FAF9F9;
    /* padding: 3px; */
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
}

.selection-subject-card-bottom-department-name:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}


#top-menu-1:hover{
    fill: #FAF9F9;
    transition: 200ms;
}

#top-menu-2:hover{
    fill: #1A051D;
    transition: 200ms;
}

.selection-remove{
    display: flex;
    position: absolute;
    z-index: 5;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    transition: 200ms;
    margin-top: 24px;
}

#overlay{
    display: flex;
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px 16px 8px 8px;
    border-radius: 8px;
}

#overlay:hover{
    background-color: rgba(0,0,0,.2);
    transition: 200ms;
}


/* .selection-subject-card-bottom-department-name:nth-child(2n+1) {
    background-color: #A8832D;
}

.selection-subject-card-bottom-department-name:nth-child(3n) {
    background-color:#865222;;
}

.selection-subject-card-bottom-department-name:nth-child(4n) {
    background-color: #EAC646;
} */

