.topbar-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 500px;
    background-color: #F9F9F9;
    justify-items: center;
    box-shadow: 0px 16px 32px 0px rgb(22,23,22,0.08);
    box-shadow: 0px 8px 16px 0px rgb(22,23,22,0.08);
    z-index: 100;
    position: fixed;
    width: 100%;
    user-select: none;
}

.topbar-logo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

 .topbar-options{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 30px;
    } 

.topbar-pic{
    border-radius: 50%;
    object-fit: cover;
}

.topbar-pic:hover,.topbar-option:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.topbar-pic-wrapper{
    display: flex;
    align-items: center;
    width: 48px;
    height: 96px;
}

.notification-wrapper{
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: absolute;
    padding: 16px;
    top: 100px;
    width: 335px;
    height: 300px;
    background: #F9F9F9;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.notification-button-wrapper{
    position: relative;
}

.notification-button-number{
    position: absolute;
    right: 10px;
    top: 20px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.notification-flow{
    overflow: scroll;

}

.notification-heading{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 16px;
}

.notification-body{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;

margin-bottom: 8px;
}

.notification-message{
    border-left: 4px solid #EBC74E;
    padding-left: 16px;
margin-bottom: 16px;
}

.bcolor1 {
    border-left: 4px solid #91BD6F;
}

.bcolor2 {
    border-left: 4px solid #A8832D;
}

.bcolor3 {
    border-left: 4px solid#865222;;
}

.bcolor4 {
    border-left: 4px solid #EAC646;
}

.notification-message-header{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: #000000;
}

.notification-message-body{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
}

.notification-divider{
    border: 1px solid #EBC74E;
}

.notification-sep{
    border: 1px solid #000000;
}

.no-questions-border{
    
}