.tutors-wrapper{
    display: flex;
    flex-direction: column;
}

.tutors-heading{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
margin-bottom: 16px;
color: #000000;
}

.tutors-description{
    margin-bottom: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}

.tutorcore-wrapper{
    display: flex;
    flex-direction: column;
    width: auto;
    grid-gap: 16px;
}


.tutorcore-entry{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    background: #F9F9F9;
    box-shadow: 0px 16px 16px rgba(22, 23, 22, 0.08);
    border-radius: 8px;
    width: 100%;
    padding: 32px;
}

.tutorcore-entry-row-1{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.tutorcore-pic{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.tutorcore-name-wrapper{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.tutorcore-name{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.tutorcore-course{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 8px;
}

.tutorcore-ratings{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
}

.tutorcore-name-ratings-wrapper{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    grid-gap: 8px;
}

.tutorcore-menu-wrapper{
    display: flex;
    grid-gap:24px;
    align-items: flex-start;
}

.tutorcore-entry-row-2{
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

.tutorcore-subject{
    display: flex;
    border-radius: 20px;
    padding: 8px 24px 8px 24px;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #F9F9F9;
}

.subject-color1{
    background-color: #91BD6F;
}

.subject-color2{
    background: #A8832D;
}

.subject-color3{
    background: #865222;
}

.tutorcore-entry-row-3{
    display: flex;
    justify-content: flex-end;
}

.tutorcore-buttons-wrapper{
    display: flex;
    align-content: center;
    margin-top: 32px;
    grid-gap: 24px;
}

.tutorcore-buttons-availability{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #161716;
    border: 1px solid #161716;
    box-sizing: border-box;
    border-radius: 8px;
    align-self: center;
    padding: 12px 24px 12px 24px;
}

.tutorcore-buttons-session{
    background: #EAC646;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FAF9F9;
    align-self: center;
    padding: 12px 24px 12px 24px;
}