@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Open%20Sans);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700);

@media (max-width: 960px) {
  .hide{
    display: none !important;
  }
}

.myaccounthref{
  color: rgb(52, 133, 195);
}

.myaccounthref:hover{
  color: rgb(52, 133, 195);
}

.cardhref{
  text-decoration:none;
}

.cardhref:hover{
  text-decoration:none;
}

body{
 background-color: #E7EEF7;

}

.vl {
  border: 3px solid #9097AB;
}

#upload-pic {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#slex-iframe {
  width: 100%;
  height:50vh;
}

#my-subjects{
  padding-top:50px;
}

/* 
For MUI
**/

.MuiAppBar-positionStatic {
  /*
      This is required to overcome the side-effects of https://github.com/mui-org/material-ui/pull/17819
      (https://github.com/mui-org/material-ui/issues/7994) on Firefox. Without this fix, in Firefox, if
      Lightbox modal via react-image-lightbox is open, then the "AppBar" (MuiAppBar-positionStatic) gets
      "transform: translateZ(0)" which makes the AppBar appear in front of modal which is problematic.
  */
  transform: none;
}

/* .MuiGrid-root{
  overflow-x: hidden;
} */

.le-subheading{
  font-family: 'Roboto', serif;
  font-size: 16px;
  color: #3485C3
}

.roboto-slab{
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  color: #3485C3
}

.left-pad{
  padding-left:50px;
  padding-top:50px;
}

.welcome{
  font-family: 'Comfortaa',sans-serif;
  font-size: 6rem;
  color: floralwhite;
  font-weight: 300;
}

.logo{
  font-family: 'Comfortaa',sans-serif;
  font-size: 1.75rem;
  margin-left: 10px;
}

.my-tab{
  transition-duration: 200ms;
  text-transform: lowercase;
}

.my-tab:hover{
  background-color: #0000003b;
  transition-duration: 200ms;
}

.nav-tab {
  text-transform: uppercase;

}
/* 
End of For MUI
**/


.backdrop{
  position:fixed;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
}

button:focus {
  outline: none;
}

  .parent-flex{
    display: flex;
  }

  .center
  {
    display: flex;
    margin:auto;
  }



/* .right-stick{
display: flex;
flex-flow: row wrap;
/* This aligns items to the end line on main-axis */
/* justify-content: flex-end;
} */ 

.form-card-size{
  min-width:300px;
  height: 400px;
}

.gabay-green-orig{
  background-color: #008860;
}

.gabay-green{
  background-color: #008860;
}

.forum-bg{
  background-color: #95D5B2;
}

/* .box-it {
  height: 80vh;
} */

.container{
  height:100vh;
}

.img-max {
  object-fit: scale-down;
  width: 100%;
  height: 250px;
}

.cool-shadow{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.subtitle{
  font-family: 'Open Sans',sans-serif ;
  color: floralwhite;
  font-weight: lighter;
  font-size: small;
}

/* .white-fill{
  background-color: white;
} */

.subtitle-black{
  font-family: 'Open Sans',sans-serif ;
  color: #F0F3BD;
  font-weight: lighter;
  font-size: small;
}

/* .subtitle:hover{
  color: floralwhite;
  text-decoration: none;
} */

.subtitle:visited{
  color: floralwhite;
  text-decoration: none;
}

.content{
  color: floralwhite;
}

.login-pad{
  padding: 10px 50px 10px 50px;
}

.white-it{
  color: floralwhite;
}

.footer{
  color: black;
}

.login-margin{
  margin: 10px 50px 10px 50px;
}

.border-white-orig{
  border-color: floralwhite;
}

.border-white{
  border-color: #1A420C;
}

.forum-container{
  height: 500px;
  width: 300px;
}

.wrap-it{
  white-space: pre-line;
}

/* a {
  color: floralwhite;
} */